{{template "base" .}}

{{define "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>This is about page</h1>
                <p>This is paragraph from about page rendered</p>
                <p>This is came from the template: {{index .StringMap "test"}}</p>
                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your Remote IP Address is: {{index .StringMap "remote_ip"}}
                    {{else}}
                        I Don't know your IP Address yet. Visit the <a href="/">Home</a>
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}